# Arquivos Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos de resultados
docker_ubuntu_24.04/ml_results_linear_regression/*
docker_ubuntu_24.04/ml_results_random_forest/*
docker_ubuntu_24.04/ml_results_cnn/*
docker_ubuntu_24.04/ml_results_comparison/*
local_ubuntu_22.04/ml_results_comparison/*
local_ubuntu_22.04/ml_results_linear_regression/*
local_ubuntu_22.04/ml_results_random_forest/*
local_ubuntu_22.04/ml_results_cnn/*
raspberry_pi_ubuntu/ml_results_comparison/*
raspberry_pi_ubuntu/ml_results_linear_regression/*
raspberry_pi_ubuntu/ml_results_random_forest/*
raspberry_pi_ubuntu/ml_results_cnn/*
!ml_results_linear_regression/.gitkeep
!ml_results_random_forest/.gitkeep
!ml_results_cnn/.gitkeep

# Dados
local_ubuntu_22.04/data/beijing_pm2_dataset.csv
raspberry_pi_ubuntu/data/beijing_pm2_dataset.csv
docker_ubuntu_24.04/data/beijing_pm2_dataset.csv

# Ambientes virtuais
venv/
.env/
env/

# Docker
*.log
Dockerfile.*

# Outros
*.DS_Store
*.bak
*.swp